@import 'bases/extend';
@import 'bases/mixin';

.aboutus {
    background-color: #bdbdbd;
}

.cabecera-about { 
    @extend %botones;

    nav { 
        text-align: right;

        div {

            a {

                img {
                    height: 140px; 
                    width: 180px; 
                    display: block;
                }
            }

            div {

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: inline-block; 
                    vertical-align: middle;

                    li {
                        display: inline-block;
                        margin-right: 20px; 

                        &:hover {
                            text-decoration: underline;
                        }

                        a { 
                            text-decoration: none;
                            color: #fdfbfb; 
                            line-height: 130px;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            font-weight: 900;

                        }
                    }
                }
            }
        }
    }
    
}

.section-content {
    display: flex; // Utilizamos flexbox para alinear elementos en una fila
    align-items: center;

    div {
        margin-right: 20px;

        img {
            max-width: 100%;
            /*max-width: 300px;*/
        }

        .introduction{
            font-size: medium;
            background-color: #797878;
            color: white;
            border-radius: 20px;
            margin: 80px 80px 80px 80px; 
            padding: 50px 20px;
            text-align: left; 
            max-width: 600px;

        }
    }

}

.pie-ab {
    .footer-content {
        font-size: large;
        background-color: #797878;
        background-size: cover;
        color: white;
        border-radius: 20px;
        margin: 80px 100px 100px 80px; 
        text-align: center;
        h2 {

        }
    }
    .maps {
        width: 1000px;
        height: 500px; 
    }
}


@media only screen and (max-width:768px) {
    
    .header-content {

        img {
            width: 100px;
        }

        .texto {
        }
    }
   
    .section-content {
    flex-direction: column; 
    align-items: flex-start;
    } 

    div {
      margin-right: 0; // Eliminamos el margen
      margin-bottom: 20px; // Añadimos un margen inferior para separar la imagen y el párrafo
    }

}

@media (min-width: 769px) {
    .header-content {
      flex-direction: row; 
      align-items: center; 

      img {
        margin-bottom: 0; // Eliminamos el margen inferior de la imagen
      }

      .texto {
        padding: 40px; 
      }
    }
}

