.aboutus {
    background-color: #bdbdbd;
}

.ab-header {
    
    .header-content {
        max-width: 1200px;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            max-width: 300px;
        }

        .texto{
            background-color: #e66363;  
            padding: 40px 80px;
            border-radius: 20px;
        }
    }
}

.section-content {
    display: flex; // Utilizamos flexbox para alinear elementos en una fila
    align-items: center;

    div {
        margin-right: 20px;

        img {
            max-width: 100%;
            /*max-width: 300px;*/
        }

        .introduction{
            font-size: medium;
            background-color: #797878;
            color: white;
            border-radius: 20px;
            margin: 80px 80px 80px 80px; 
            padding: 50px 20px;
            text-align: left; 
            max-width: 600px;

        }
    }

}

.pie-ab {
    .footer-content {
        font-size: large;
        background-color: #797878;
        background-size: cover;
        color: white;
        border-radius: 20px;
        margin: 80px 100px 100px 80px; 
        text-align: center;
        h2 {

        }
    }
    .maps {
        width: 1000px;
        height: 500px; 
    }
}


@media only screen and (max-width:768px) {
    
    .header-content {

        img {
            width: 100px;
        }

        .texto {
        }
    }
   
    .section-content {
    flex-direction: column; 
    align-items: flex-start;
    } 

    div {
      margin-right: 0; // Eliminamos el margen
      margin-bottom: 20px; // Añadimos un margen inferior para separar la imagen y el párrafo
    }

}

@media (min-width: 769px) {
    .header-content {
      flex-direction: row; 
      align-items: center; 

      img {
        margin-bottom: 0; // Eliminamos el margen inferior de la imagen
      }

      .texto {
        padding: 40px; 
      }
    }
}

