.inicio {
    background-color: #bdbdbd;
}

.cabecera-index { 
    background-color: #B22222;
    overflow: hidden; 
    margin-bottom: 50px;
    border-radius: 20px;

    nav { 
        text-align: right;

        div {

            a {

                img {
                    height: 140px; 
                    width: 180px; 
                    display: block;
                }
            }

            div {

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: inline-block; 
                    vertical-align: middle;

                    li {
                        display: inline-block;
                        margin-right: 20px; 

                        &:hover {
                            text-decoration: underline;
                        }

                        a { 
                            text-decoration: none;
                            color: #fdfbfb; 
                            line-height: 130px;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            font-weight: 900;

                        }
                    }
                }
            }
        }
    }
    
}

.finito {
    background-color: rgb(46, 46, 46);
    margin-top: 50px;
    padding: 15px;
    border-radius: 20px;

    .grid-container {
        display: flex;
        flex-wrap: wrap;

        .grid-item {
            flex: 1 1 50%;
            padding: 0 15px;

            .copyright {
                color: #fdfbfb;
            }
            .parrafo {
                color: #fdfbfb;
            }
        }
    }
    .social-icons {
        display: flex;
        justify-content: flex-end;
        margin-left: 10px; 
        width: 30px; 
        height: auto; 
    }
}

/*  */
@media only screen and (max-width: 768px) {

    .inicio  header {
      margin-bottom: 100px; 
    }
  
    .logo img {
      height: 200px; 
      width: auto;
    }
  
    .nav-effect a {
      line-height: 100px; 
    }
  
    .social-icons {
      justify-content: flex-end;
      margin-left: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .inicio header {
      margin-bottom: 20px; 
  }
  
  nav {
      text-align: center;
  }
  
  .logo img {
      height: 100px; /* se redujo el tamano del logo de breaking */
      width: auto; 
  }
  
  nav ul {
      display: block; 
      text-align: center; 
      line-height: 1.5; /* Ajustando el espacio entre líneas */
  }
  
  nav li {
      display: block; 
      margin-right: 0; 
      margin-bottom: 10px; 
  }
  
  .footer {
      padding: 10px;
  }
  
  .grid-item {
      flex: 1 1 100%; 
  }
  
  .social-icons-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
  }
  
  .social-icons {
    width: 30px; 
    height: auto; 
  }
  }
  