@import 'bases/mapas';
@import 'bases/extend';
@import 'bases/mixin';

.start {
  background-color: #bdbdbd;
}

.cabecera-join { 
  @extend %botones;

  nav { 
      text-align: right;

      div {

          a {

              img {
                  height: 140px; 
                  width: 180px; 
                  display: block;
              }
          }

          div {

              ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  display: inline-block; 
                  vertical-align: middle;

                  li {
                      display: inline-block;
                      margin-right: 20px; 

                      &:hover {
                          text-decoration: underline;
                      }

                      a { 
                          text-decoration: none;
                          color: #fdfbfb; 
                          line-height: 130px;
                          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                          font-weight: 900;

                      }
                  }
              }
          }
      }
  }
  
}


.options-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    padding: 20px; 

    .options {
        background-color: tomato;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: map-get($defect-utility , border-standar );

        h2 {

        }
        p{
          ul {
            li {

            }
          }  
        }
    }

}


@media only screen and (max-width:768px) {
  
}
.choose {
  margin: 20px 10px; 
  border-radius: 15px; 
}

.options-container {
  grid-template-columns: 1fr; 
}

.options {
  margin: 10px 0; 
}


@media only screen and (min-width: 769px) {
  .choose {
    margin: 50px 40px 80px 50px; /* Ajusta el margen según tus necesidades */
    border-radius: 30px; /* Ajusta el radio del borde según tus necesidades */
  }

  .options-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Mantiene la disposición de las opciones en dos columnas */
  }

  .options {
    margin: 10px 0; /* Ajusta el margen entre las opciones */
  }
}



